{
  "env": {
    "node": true
  },
  "plugins": [
    "security",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "plugin:security/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "import/extensions": 0,
    "no-console": 0
  }
}